@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-bg text-brand-dark font-sans;
  }

  h1, h2, h3, h4 {
    @apply font-display text-brand-dark;
  }
}
