@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0f2a44;
  --secondary: #c89b3c;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-playfair {
  font-family: var(--font-playfair);
}
